body{
  background-color: #F7B0B8
}


.minhafoto{
  position: absolute;
  width: 247px;
  height: 238px;
  left: 57px;
  top: 25px;
  border-radius: 50px;
}

.titulonome{
  position: absolute;
  width: 800px;
  height: 84px;
  left: 791px;
  top: 50px;

  font-family: 'Jacques Francois';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 84px;

  color: #FFFFFF;
}

.informacoes1{

  position: absolute;
width: 478px;
height: 44px;
left: 304px;
top: 320px;

font-family: 'Jacques Francois';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 53px;

color: #F7B0B8;
}

.informacoes2{
  position: absolute;
width: 279px;
height: 67px;
left: 1070px;
top: 320px;

font-family: 'Jacques Francois';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 53px;

color: #F7B0B8;
}

.informacoes3{
  position: absolute;
width: 250px;
height: 53px;
left: 1622px;
top: 320px;

font-family: 'Jacques Francois';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 53px;



color: #F7B0B8;

}

.sobremim{
  position: absolute;
width: 350px;
height: 126px;
left: 17px;
top: 463px;

font-family: 'Jacques Francois';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 63px;

color: #FFFFFF;
}

.texto1{
  position: absolute;
width: 2229px;
height: 401px;
left: 17px;
top: 534px;

font-family: 'Itim';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;

color: #F7B0B8;
}

.retangulo{
  position: absolute;
width: 2268px;
height: 430px;
left: -11px;
top: 534px;

background: #D61C59;
}

.barra{
  position: absolute;
width: 2257px;
height: 72px;
left: 0px;
top: 289px;

background: #D61C59;
}

.barra2{
  position: absolute;
width: 2257px;
height: 121px;
left: 0px;
top: 1392px;

background: #D61C59;
}

.email{
  position: absolute;
width: 137px;
height: 49px;
left: 68px;
top: 1415px;

font-family: 'Jacques Francois';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 63px;

color: #FFFFFF;

}

.insta{
  position: absolute;
width: 241px;
height: 49px;
left: 895px;
top: 1419px;

font-family: 'Jacques Francois';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 63px;

color: #FFFFFF;

}

.cell{
  position: absolute;
width: 197px;
height: 43px;
left: 1523px;
top: 1422px;

font-family: 'Itim';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 63px;

color: #FFFFFF;





}
